/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/* general config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: inline-block;
  padding: 15px;
  position: relative;
}

.pokedex {
  width: 100%;
  max-width: 550px;
}

/* Pokedex left side*/
.pokemon__image {
    position: absolute;
    left: 28.5%;
    bottom: 55%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__basicData {
  position: absolute;
  font-weight: 600;
  font-size: clamp(6px, 3vw, 20px); /* min, defaut, max */
  color: #AAAAAA;
  bottom: 40.5%;
  left: 21%;
}

.pokemon__basicData--name {
  color: #3A444D;
  text-transform: capitalize;
}

.form__search {
  position: absolute;
  bottom: 29%;
  left: 7.5%;
  width: 37%;
}

.input__search {
  border-radius: 5px;
  padding: 2%;
  outline: none;
  border: 2px solid #333333;
  width: 100%;
  font-weight: 600;
  color: #3A444D;
  font-size: clamp(3px, 2vw, 0.9rem); /* min, defaut, max */
  box-shadow: -2px 3px 0 #888888, -3px 5px 0 #333333;
}

.buttons {
  position: absolute;
  width: 37%;
  left: 7.5%;
  bottom: 12%;
  
  display: flex;
  gap: 8%; 
}

.button {
  width: 45%;
  padding: 4%;
  border-radius: 5px;
  box-shadow: -2px 3px 0 #222222, -3px 5px 0 #000000;
  font-size: clamp(5px, 2vw, 0.9rem);
  font-weight: 600;
  color: #FFFFFF;
  background-color: #444444;
}

.button:active {
  box-shadow: inset -2px 3px 0 #222222;
  transition: 0.09s;
  font-size: 0.75rem;
}

/* pokedex right side */
.pokedex__right {
  position: absolute;
  width: 34.5%;
  height: 53%;
  bottom: 22%;
  left: 59%;
  padding: 7px;
  color: #8FA88F;
  display: flex;
  flex-direction: column;
  gap: 6%;
  font-size: clamp(4px, 3vw, 15px);
}

.pokedex__right--title {
  font-size: clamp(4px, 3vw, 20px);
  text-align: center;
  line-height: 0.7rem;
}

.atributes {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10%;
  row-gap: 8%;
}

.atributes--name {
  text-transform: capitalize;
  grid-column: span 2;
}

.atributes--weight {
  grid-column: span 2;
}

.types__container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  column-gap: 4%;
  row-gap: 10%;
}

.types--title {
  grid-row: span 2;
}

.type {
  background-color: #8FA88F;
  color: #333333;
  border-radius: 60px;
  display: flex;
  justify-content: center;
}

.type--name {
  text-transform: capitalize;
}